plotly
pandas
requests
s3fs
st-files-connection
langchain_community
langchain
dashscope
langchain_experimental
langchain_core
tabulate
boto3
opencv-python-headless>=4.0.0
opencv-contrib-python-headless>=4.0.0
matplotlib
