plotly
pandas
requests
s3fs
st-files-connection
langchain_community
langchain
dashscope
langchain_experimental
langchain_core
tabulate
boto3
opencv-python-headless
opencv-contrib-python-headless
matplotlib
PIL
