folium==0.16.0
matplotlib==3.7.1
numpy==1.23.5
numpy==1.24.4
pandas==2.0.3
pandas==1.5.3
plotly==5.18.0
pytz==2023.3
pyvista==0.41.1
Requests==2.31.0
scipy==1.13.0
stpyvista==0.0.17
streamlit==1.34.0
streamlit_folium==0.20.0
tzwhere==3.0.3
